
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: 'Pathway Gothic One', Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    height: 4vh;
    position: sticky;
    top: 0;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 30vw 35vw 30vw;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
    z-index: 1;
}
ul li {
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}
h1{
    position: relative;
    background-color: rgb(0, 0, 0);
    font-size: 3rem;
    letter-spacing: 1rem;
    transform: translateX(1rem);
    text-align: center;
    color: white;
    animation-timing-function: ease-out;
    animation: tittleAnim 0.5s;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 5% 0 5%;
    background-color: black;
    color: white;
    font-family: 'Pathway Gothic One', Arial, Helvetica, sans-serif;
}
/*/////////////////////////////////PRODUCTO///////////////////////////////////////*/
.nav__logo{
    height: 2vh;
    justify-self: left;
}
.nav__logo img{
    height: 100%;
}

.nav__menu{
    display: flex;
    justify-content: space-around;
}

.nav__redes{
    height: 2vh;
    justify-self: right;
}
.nav__redes__icon{
    height: 100%;
}
/*//////////////////////////////////////////////////////////////////////////////////*/
@keyframes tittleAnim {
    from {
        top: -100px;
        opacity: 0%; 
    }
    to {
        top: 0;
        opacity: 80%;
    } 
}

.redText{
    color: #cf2929;
}
/*//////////////////////////////////////////////////////////////////////////////////*/
.productos{
    width: 100%;
    background-color: white;
}
.productos__grid{
    width: 60vw;
    background-color: white;
    margin: 0 20vw 0 20vw;
    padding: 5vh 0 10vh 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 50px;
    justify-items: center;
    justify-content: space-around;
    box-shadow:0px 0px 100px 100px rgba(0, 0, 0, 0.3);
}
/*/////////////////////////////////PRODUCTO///////////////////////////////////////*/
.producto{
    width: 15vw;
    height: 21vw;
    border-radius: 10px;
    background-color: black;
    overflow:hidden;
    box-shadow:0px 0px 25px 9px rgba(0, 0, 0, 0.4);
    font-family: 'Pathway Gothic One', Arial, Helvetica, sans-serif;
}

.producto__titulo{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.producto__titulo h3{
    color: white;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    transform: translateX(0.5rem);
}

.producto__img{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: darkgray;

    overflow:hidden;
}
.producto__img img{
    width: 100%;
}

.producto__info{
    height: 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.producto__info__precio{
    width: 50%;
    margin: 0;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.producto__info__boton{
    width: 50%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    border-style: none;
    background: center / 30px no-repeat url("../img/addtocart.png"), #cf2929;
}
.producto__info__boton:active{
    background: center / 30px no-repeat url("../img/addtocart.png"), red;
}
/*//////////////////////////////////////////////////////////////////////////////////*/

@keyframes growCarrito{
    from{
        border-radius: 50%;
        width: 80px;
        height: 80px;
        z-index: 2;  
    }
    30%{
        border-radius: 10px;
        width: 80px;
        height: 80px;   
    }
    80%{
        opacity: 100%;
    }
    99%{
        opacity: 0%;
        z-index: 2;
    }
    to {
        width: 16vw;
        height: 42.2vh;
        z-index: -1;
    }
}
@keyframes shrinkCarrito{
    from{
        width: 16vw;
        height: 42.2vh;
        border-radius: 10px;
        opacity: 0%;
        z-index: 2;
    }
    30%{
        opacity: 100%;
    }
    70%{
        border-radius: 10px;
        width: 80px;
        height: 80px;   
    }
    to {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        z-index: 2; 
    }
}

@keyframes showCarrito{
    from{
        z-index: -1;
    }
    90%{
        z-index: -1;   
    }
    to {
        z-index: 1; 
    }
}
#btnCarrito{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 142px;
    right: 30px;
    overflow: hidden;
}
#btnCarrito__inside{
    flex-grow: 1;
    background: center / 30px no-repeat url("../img/cartwhite.png"), black;
}
#carrito{
    width: 16vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 142px;
    right: 30px;
    overflow: hidden;
    border-radius: 10px;
}

.growAnimBtnCarrito{
    animation: growCarrito 0.7s;
    width: 16vw;
    height: 42.2vh;
    border-radius: 10px;
    z-index: -1;
}
.shrinkAnimBtnCarrito{
    animation: shrinkCarrito 0.7s;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.carritoHide{
    z-index: -1;
}
.carritoShow{
    animation: showCarrito 0.7s;
    z-index: 1;
}
#carrito__top{
    display: flex;
    flex-direction: row;
    background-color: black;
}

#carrito__title{
    color: white;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    flex-grow: 6;
    align-self: center;
    text-align: end;
}
#carrito__close{
    font-size: 1rem;
    color: white;
    flex-grow: 2.5;
    text-align: end;
    align-self:center;
    padding-right: 10px;
}
#carrito__close img{
    height: 20px;
}
#carrito__productos{
    height: 30vh;
    background-color: white;
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#carrito__productos::-webkit-scrollbar {
    width: 4px;
}
#carrito__productos::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 10px;
}
#carrito__productos::-webkit-scrollbar-track {
    background: transparent;
}
/*//////////////////////////////////////////////////////////////////////////////////*/
.carrito__productos__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    margin-bottom: 10px;
}
.carrito__productos__imgContainer{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 30px;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;
}
.carrito__productos__img{
    width: 60px;
    height: auto;
}
.carrito__productos__prod{
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: flex-end;
}
.carrito__productos__prodCant{
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.carrito__productos__line{
    background-color: #cf2929;
    height: 1px;
    width: 125%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
}
.carrito__productos__price{
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    justify-self: center;
}
/*//////////////////////////////////////////////////////////////////////////////////*/
#carrito__cuenta{
    background-color: black;
    color: white;
    padding: 5px 15px 5px 15px;
    line-height: 1.3rem;
    letter-spacing: 0.1rem;
}
#carrito__cuenta h4{
    display: inline-block;
}
#carrito__cuenta__total, #carrito__cuenta__iva, #carrito__cuenta__totalIva{
    float: right;
}
#carrito__cuenta__totalIva{
    font-size: 1.4rem;
}

/*//////////////////////////////////////////////////////////////////////////////////*/

#footer__flex {
    width: 100%; 
    margin-bottom: 20px;    
}
.footer__flex__row {
    margin-bottom: 30px;
}

.footer__flex__row h4{
    margin: 0.2rem 0 0 0;
}

.footer__flex__row label, input{
    margin: 1rem 0 0 0;
    width: 50%;
}

.footer__flex__row__menuItem {
    list-style:none;
    margin: 0.2rem 0 0 0;
}

.footer__flex__row__redesIcon{
    margin-top: 1rem;
    margin-right: 0.5rem;
    width: 3rem;
}

#footer__flex__row__button{
    width: 40%;
}

.footer__copy{
    padding: 10px 0 10px 0;
    border-top: 1px solid white;
    text-align: center;
}

/* ////Media queries////
// @media (min-width: $smallBP) {

// } */
@media (min-width: 600px) {
    .footer__flex__row label, input{
        
        width: 99%;
        
    }
    #footer__flex{
        display: flex;
        justify-content: space-between;
    }
    #footer__flex__row__button{
        width: 100%;
    }
  
}
/* // @media (min-width: $largeBP) {
// }  */